.App {
  text-align: center;
  color: #282c34;
  min-height: 100vh;
}

nav {
  padding: 10px;
}
nav a {
  color: #282c34;
  margin-right: 15px;
  text-decoration: none;
}
nav a.active,
nav a:hover {
  color: red;
}
nav a:last-child {
  margin-right: 0px;
}
